~$*
*.tmp
convert-word-doc-to-markdown.txt
20 Docker.docx
20 Mémento des lignes de commande.docx
20 Mémento du shell script.docx
20 Mémento de Red Hat.docx
Intéressant   BigData_Technologies_PL.pdf
agile scrum.pdf
calendar.csv
calendar.ipynb

14 MCD.docx